@import '../../../styles/variables.scss';
@import '../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';

$darken: 60%;
$color: rgb(255,255,255);
$color-base: rgb(0,0,0); // Apply color here!
$color-alpha: darken( $color, $darken );

.my-header{
  height: $pcHeaderSize;
  background-image: url("../../../assets/images/header.jpg");
  background-position-y: 65%;
  background-size: cover;
}

@include media-breakpoint-between(xs, md) {
  .my-header{
    height: $smallHeaderSize;
    background-position-x: 75%;
  }
  #subtitle{
    display:none;
  }
}

svg{
  width: 100%;
  height: inherit;

  text{
    text-anchor: middle;
  }

  #alpha{
    fill: $color-alpha;
  }

  #title{
    letter-spacing: -2px;
    font-size: 7vw;
    font-weight: 800;
  }

  #subtitle{
    letter-spacing: 8px;
    font-size: 2vw;
    font-weight: 300;
    text-transform: uppercase;
  }

  #base{
    fill: $color-base;
    mask: url(#mask);
  }
}
