// body
$backgroundColor:#F0F0F0;
$title-color: #f06448;

//header
$headerTitleColor: $title-color;
$headerTextColor : $title-color;
$headerHeight: 400px;


//#errors
$errorNotificationTitle:#6b7074;

//common


