@import '../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';

$backgroundColor:#F0F0F0;
$title-color: #14B9D5;

//header
$headerTitleColor: $title-color;
$headerTextColor : $title-color;

//#errors
$errorNotificationTitle:#6b7074;

$smallHeaderSize: 150px;
$tabletHeaderSize: 350px;
$pcHeaderSize: 450px;
$largePcHeaderSize: 500px;

//devices
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
)







