@import 'variables';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-social.css';


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body{
  height: 100%;
  background-color: $backgroundColor;
}

body{
  font-family: 'Open Sans', sans-serif;
}

a.active {
  background-color: gray;
}

@include media-breakpoint-between(xs, md) {
  $headerHeight: 200px;
}

@include media-breakpoint-between(md, lg) {
  $headerHeight: 350px;
}

@include media-breakpoint-between(md, lg) {
  $headerHeight: 400px;
}
