<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCopeRules" Description="StyleCopeRules custom ruleset" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1804" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1500" Action="Warning" />
    <Rule Id="SA1501" Action="Warning" />
    <Rule Id="SA1502" Action="Warning" />
    <Rule Id="SA1503" Action="Warning" />
    <Rule Id="SA1504" Action="Warning" />
    <Rule Id="SA1505" Action="Warning" />
    <Rule Id="SA1506" Action="Warning" />
    <Rule Id="SA1507" Action="Warning" />
    <Rule Id="SA1508" Action="Warning" />
    <Rule Id="SA1509" Action="Warning" />
    <Rule Id="SA1510" Action="Warning" />
    <Rule Id="SA1511" Action="Warning" />
    <Rule Id="SA1512" Action="Warning" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1400" Action="Warning" />
    <Rule Id="SA1401" Action="Warning" />
    <Rule Id="SA1404" Action="Warning" />
    <Rule Id="SA1405" Action="Warning" />
    <Rule Id="SA1406" Action="Warning" />
    <Rule Id="SA1402" Action="Warning" />
    <Rule Id="SA1403" Action="Warning" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1201" Action="Warning" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1003" Action="Warning" />
    <Rule Id="SA1120" Action="Error" />
  </Rules>
</RuleSet>