<li class="row mb-2 align-items-start">

  <a href="#" class="list-group-item list-group-item-action flex-row text-white  my-message-row"
     [ngClass]="{'bg-info': message.mediaType === 1, 'bg-primary': message.mediaType === 0}">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{message.hashTag}}</h5>
      <small>{{message.postDate | date:'medium'}}</small>
    </div>
    <div>
      <p class="mb-1">{{message.body}}</p>
    </div>
    <div class="d-flex w-100 align-middle justify-content-between vcenter">
      <span>{{message.user.userName}}</span>
      <a [attr.href]="getMessageLink(message)">
        <!--<span class="fa" [ngClass]="{'fa-twitter': message.mediaType === 1, 'fa-vk': message.mediaType === 0}"></span>-->
        <img [defaultImage]="defaultImage" [lazyLoad]="message.user.avatar50" [offset]="offset">
      </a>
    </div>
  </a>
</li>
