html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

a.active {
    background-color: gray;
}

header {
    background-image: url("../assets/images/header.jpg");
    background-position-y: 60%;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
        font-size: 60px;
        color: lightcyan;
    }
    p {
        font-size: 50px;
        color: #f06448;
    }
}