<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
          data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Logo</a>
  <div [collapse]="isCollapsed" class="navbar-collapse" id="navbarCollapse">

    <div class="navbar-nav mr-auto">
    </div>

    <form class="form-inline mr-5 my-lg-2">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-2" type="submit">Search</button>
    </form>

    <form class="form-inline mr-2">
      <auth-section></auth-section>
    </form>

  </div>
</nav>
