@import '../../../../styles/variables.scss';
@import '../../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';

nav{
  background-color: $title-color;
}

.my-bar{
  color:white;
}

@include media-breakpoint-between(xs, md) {
  #mysearch{
    display:none;
  }
}
