<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          (click)="isCollapsed = !isCollapsed"
          data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Silichy Exhange Logo</a>
  <div [collapse]="isCollapsed" class="navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/main" > {{'navbar-menu-home' | translate}}</a>
      </li>
      <li class="nav-item active" routerLink="/nowhere">
        <a class="nav-link">{{'navbar-menu-set-up-tags'| translate}}</a>
      </li>
    </ul>

    <form  id="mysearch" class="form-inline mr-5 my-lg-0">
      <input class="form-control mr-sm-2" type="text" [formControl]="searchBoxControl"  placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <form class="form-inline mr-2">
      <auth-section></auth-section>
    </form>

  </div>
</nav>
